.menu_imagen {
  margin: 18px;
  width: 220px;
  height: 300px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column-reverse;
  flex-wrap: wrap-reverse;
  border: black 4px solid;
}

.menu_imagen:hover
{
  border: #00dada 4px solid;
  width: 225px;
  height: 310px;
}

.carousel-bg {
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.carousel-cell {
    counter-increment: carousel-cell;
    
}

.cada_anime {
  text-align: center;
  color: #580054;
  font-size: 18px;
  margin-bottom: 30px;
  display: table-caption;
}


.carousel {
  margin: 15px;
}

.menu_contenedores {
  text-align: center;
}

.titulo_categoria {
  color:    rgb(104, 0, 117);
  text-shadow: 2px 2px 10px #a0a0a0;
}