
  .fondoarriba{
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    padding: 50px; 
    padding-bottom: 35px;   
    opacity: 0.97;
    background: rgb(85, 85, 85);
    position: flex;
}

.fondoabajo{
    background-color: lightyellow;
}



