@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tab {
    overflow: hidden;
    border: 1px solid rgb(172, 172, 172);
    background-color: #f1f1f1;
    width: 100%;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    font-family: 'Roboto', sans-serif;
    background-color: inherit;
    width: 16.3%;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    font-family: 'Roboto', sans-serif;
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(0, 199, 166);
    box-shadow: 0 0 13px black;
    font-weight: 700;
  }
  
  /* Style the tab content */
  .tabcontent {
    font-family: 'Roboto', sans-serif;
    border-top: 3px;
    display: none;
    background-color: rgb(61, 0, 70);
    position: relative;
    margin: 40px;
  }



  
  .contenedor-form{
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 2px;
    color: white;
    padding: 50px; 
    padding-bottom: 35px;   
    opacity: 0.9;
}
.contenedor-form h2 {
    margin: 15px 0 40px 0;
    font-size: 20px;
    line-height: 1px;
    text-align: center;
    transform: translateX(-75%);
}

.contenedor-form h3 {
    margin: 0px 0 25px 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 1px;
    text-align: center;
}

.contenedor-form input[type = email],
.contenedor-form input[type = password],
.contenedor-form input[type = text],
.contenedor-form input[type = date]{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 700;
    padding: 10px 15px 10px 15px;
    position: relative;
    width: 100%;
    height: 50px;
    color: #000000;
    background: #ffffff;
    transition: color 0.3s ease-out;
    border-radius: 5px;
}   

.contenedor-form input[type = radio] {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    background: rgb(255, 255, 255);
    position: relative;
    border-radius: 50% black;

}


.contenedor-form input[type = email]:focus,
.contenedor-form input[type = password]:focus,
.contenedor-form input[type = text]:focus,
.contenedor-form input[type = date]:focus {

    background-color: rgb(233, 233, 233);
    color: black;
    box-shadow: 0 0 6px rgb(0, 255, 255);
}

.contenedor-form .buttonsig{
    color: rgb(255, 255, 255);
    font-size: 23px;
    background:    rgb(0, 163, 155);
    padding: 10px;
    width: 50%;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-left: 50%;
    transform: translateX(-50%);
}
.contenedor-form .buttonsig:hover{
  color:  rgb(255, 255, 255);
  font-size: 23px;
  background:    rgb(0, 163, 155);
  padding: 10px;
  width: 50%;
  text-align: center;
  padding-top: 15px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  margin-left: 50%;
  transform: translateX(-50%);
}

.contenedor-form .buttonant{
  color: rgb(20, 20, 20);
  font-size: 17px;
  background:    rgb(255, 255, 255);
  width: 30%;
  text-align: center;
  margin: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  margin-left: 50%;
  transform: translateX(-50%);
  
}

.contenedor-form input[type = submit]{
    color: rgb(255, 255, 255);
    font-size: 22px;
    background:    rgb(0, 163, 155);
    padding: 10px;
    width: 50%;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 0 10px rgb(0, 255, 255);
    margin-left: 50%;
    transform: translateX(-50%);
}


.contenedor-form .salir{
    margin: 10px;
    display: block;
    color: #ddd;
    text-align: center;
}