.tab {
    overflow: hidden;
    border: 1px solid rgb(172, 172, 172);
    background-color: #f1f1f1;
    width: 100%;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    font-family: 'Roboto', sans-serif;
    background-color: inherit;
    width: 16.3%;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    font-family: 'Roboto', sans-serif;
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(0, 199, 166);
    box-shadow: 0 0 13px black;
    font-weight: 700;
  }

.nav-item:hover{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black !important;
    font-weight: 400;
    cursor: pointer;
    background-color: rgb(255, 255, 255) !important;
}
