
  .fondoarriba{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    padding: 50px; 
    padding-bottom: 35px;   
    opacity: 0.97;
    background: rgb(0, 110, 129);
    position: flex;
}

.fondoabajo{
    background-repeat: no-repeat;
}



