/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

/* Navegador principal */


#contenido_de_header {
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  color: #580054;
  height: 125px;
  padding: 0%;
  position: relative;
}

#barraheader {
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #580054;
  color: #ffffff;
  height: 20px;
}

#logo {
  height: 125px;
}

#icono_perfil {
  border-radius: 100%;
  width: 45px;
}


a {
  text-decoration: none;
}


.tituloheader1 {
  color: #580054;
  font-size: 16px;
  font-weight: 400;

}

.tituloheader2 {
  color: #580054;
  font-size: 20px;
  font-weight: 600;
  
}

.tituloheader3 {
  color: #580054;
  font-size: 25px;
  font-weight: 700;

}

.alinearizquierda{
  text-align: left;
  margin: auto;

  
}

.alinear {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  }
  

  
  @media only screen and (max-width: 700px) {
    .alinearizquierda{
      text-align: center;
    }
  
    .alinear {
      text-align: center;
      vertical-align: middle;
      margin: auto;
      margin-top: 20px;
      }
  
  }